@layer theme {
  .expressive-code {
    --ec-codeFontSize: 0.875rem;
    @media (width >= theme(--breakpoint-md)) {
      --ec-codeFontSize: 1rem;
    }
  }
}

@layer components {
  .expressive-code {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    @media (width >= theme(--breakpoint-md)) {
      margin-top: 1.3333333em;
      margin-bottom: 1.3333333em;
    }
  }

  .expressive-code .frame {
    box-shadow: none !important;
  }

  .expressive-code .frame.is-terminal pre[data-language]:has(+ .output) {
    border-bottom: none !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .expressive-code .frame pre.output {
    background: var(--code-background) !important;
    color: var(--ec-codeFg) !important;
    font-family: var(--ec-codeFontFml) !important;
    font-size: var(--ec-codeFontSize) !important;
    font-weight: var(--ec-codeFontWg) !important;
    line-height: var(--ec-codeLineHt) !important;
  }
}
